// LIBRARIES
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';

$blue: #093966;
$blue-box: #79C9DD;
$green-box: #A5BE00;;

%hover{
  transition: all 0.1s ease-in;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}


%hover{
  *::selection{
    background-color: transparent;
  }
}

%overlay{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::after{
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba(#18709A, 0.90);
  }
}



// IMPORT
@import 'fonts';

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

*{
  min-height:0;
  min-width:0
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
  padding: 0;
}

ul,
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
  img{
    width: inherit;
    height: inherit;
  }
}

button{
  cursor: pointer;
  background-color: transparent;
}

body{
  font-family: 'Raleway';
  font-weight: 500;
  background-color: #fff;
}

input,
textarea,
select{
  outline: none;
}


.container{
  max-width: 1300px;
  margin: auto;
}



.title{
  font-family: 'Alfios';
  font-weight: 400;
  font-size: 70px;
  line-height: 81px;
  color: $blue;
  position: relative;
  width: fit-content;
  &::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      top: 55%;
      transform: translateY(-50%);
      height: 55px;
      width: 40%;
      background-color: $blue-box;
      z-index: -2;
  }

  &_blank{
    &::after{
        display: none;
    }
  }

  &_green{
    &::after{
        background-color: $green-box;
    }
  }

  &_center{
    margin: auto;
  }
}


.space{
  margin-top: 70px;
}

.dots{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
  button{
      font-size: 0;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      background-color: $blue-box;
      border: none;
  }

  .slick-active button{
      background-color: $blue;
  }
}

.text{
  font-size: 22px;
  line-height: 125%;
  position: relative;
  padding-left: 30px;
  color: rgba(#000, 0.90);
  &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 80%;
      width: 6px;
      border-radius: 4px;
      background-color: $green-box;
  }

  &_blue{
    &::after{
      background-color: $blue-box;
    }
  }
}

.arrow{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: $blue;
  z-index: 2;
  @extend %hover;
  img{
    width: 100%;
    height: 100%!important;
    padding: 9px;
  }
}


.greytitle{
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 40px;
}


.disabledArrow{
  filter: grayscale(100%);
}

.line{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    height: 2px;
    background-color: red;
  }
}